h1{margin: 50px;
    padding: 50px;
    color: brown;
}
/**{
    border: solid;
}*/
.header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
}
.grid{margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
  background-color: #808080;
}
a:link{
    color: chartreuse;
}
a:visited{
    color: darkviolet;
}
.item :hover p{
    opacity: 1;

}
.item:hover img{
    opacity: 0.33;
}